@import "../App.scss";

.featured-product {
    padding-bottom: 50px;

    h1 {
        color: #000;
        font-weight: 900;
        font-size: 27px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;

        @media (min-width: 576px) {
            font-size: 40px;
        }
    }

    .product-slider {
        .card {
            padding: 5px;
            background: none;
            .card-body {
                padding: 5px;
                background: #fff;

                .img-box {
                    overflow: hidden;
                    height: 160px;
                    position: relative;
                    text-align: center;

                    img {
                        width: 100% auto;
                        height: 100%;
                        margin: auto;
                    }

                    @media (min-width: 576px) {
                        height: 200px;
                    }
                }

                .custom-slider-footer {
                    position: relative;
                    background: none;
                    border: 0 !important;
                    padding-left: 10px;
                    padding-right: 10px;

                    .overlay {
                        .btn {
                            font-size: 13px;
                            font-weight: 700;
                            color: #000;
                            font-family: "Roboto", sans-serif;
                            padding: 5px 10px;
                            background: $primary-color;
                            transition: 0.2s all;
                            border-radius: 4px;
                            opacity: 0;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            left: 50%;
                            z-index: 9;
                            top: -70px;

                            @media (min-width: 700px) {
                                top: -100px;
                            }
                        }
                    }

                    a {
                        padding: 0;
                        background: none;
                        text-decoration: none;

                        p {
                            color: #000;
                            font-size: 14px;
                            font-weight: 400;
                            margin-bottom: 8px;
                            font-family: "Roboto", sans-serif;
                        }
                    }

                    a:hover .name {
                        color: $secondary-color;
                    }

                    @media (min-width: 576px) {
                        padding: 0px;
                    }
                }

                @media (min-width: 576px) {
                    padding: 20px;
                }

                @media (min-width: 992px) {
                    padding: 25px;
                }
            }

            .card-body:hover .overlay .btn {
                opacity: 1 !important;
            }

            @media (min-width: 576px) {
                padding: 10px;
            }
        }

        .prev-btn {
            position: absolute;
            top: 45%;
            left: 8px;
            padding: 0px 1px;
            background: $secondary-color;

            @media (min-width: 576px) {
                left: -15px;
            }

            @media (min-width: 992px) {
                left: -30px;
            }
        }

        .next-btn {
            position: absolute;
            top: 45%;
            right: 8px;
            padding: 0px 1px;
            background: $secondary-color;

            @media (min-width: 576px) {
                right: -15px;
            }

            @media (min-width: 992px) {
                right: -30px;
            }
        }
    }

    @media (min-width: 576px) {
        padding-bottom: 80px;
    }
}
