@import "../App.scss";

.search-result {
    background: #f2f3f5;

    h5 {
        font-weight: 700;
        font-family: "Roboto", sans-serif;
    }

    .four-o-four {
        img {
            width: 230px;

            @media (min-width: 992px) {
                width: 300px;
            }
        }

        .btn {
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            padding: 7px 20px;
            background: $secondary-color;
            font-family: "Roboto", sans-serif;
        }
    }
}
